.venv
__pycache__/
test/
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
pytest_cache/
.mypy_cache/
.coverage
.coverage.*
.pytest_cache/